@font-face {
  font-family: "D-DIN-Medium";
  src: url("../fonts/otf/D-DIN-PRO-500-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "D-DIN-Bold";
  src: url("../fonts/otf/D-DIN-PRO-700-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "D-DIN-Regular";
  src: url("../fonts/otf/D-DIN-PRO-400-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #928c8c;
  border-radius: 20px;
}

* {
  color: white;
  font-family: "D-DIN-Bold";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  font-size: 14px;
  font-weight: bold;
  margin-left: -55px;
}

.navbar-nav {
  padding-top: 10px;
  gap: 11px;
}

.nav-item {
  cursor: pointer;
}

.nav-link {
  position: relative;
  padding-bottom: 0px;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-left: 120px;
  margin-top: 15px;
}

.logoPc {
  width: 210px;
  margin-left: -15px;
  margin-right: 20px;
  filter: invert(1);
}

.right {
  justify-content: end;
  margin-right: -70px;
}

.container-bar {
  padding-top: 10px;
  padding-left: 13px;
}

.bar1, .bar2, .bar3 {
  justify-content: end;
  width: 17px;
  height: 2px;
  background-color: #fff;
  margin: 2px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 4px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -4px) rotate(45deg);
}

.right {
  justify-content: end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 13vh;
  font-size: 13px;
  font-family: "D-DIN-Regular";
  font-weight: 100;
  gap: 30px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  transition: 0.5s;
  color: #979797;
}
.footer .copyVictor {
  color: #928c8c;
}

@media (max-width: 980px) {
  .container-bar {
    cursor: default;
    opacity: 0;
  }
}
@media (max-width: 830px) {
  .header {
    margin: 0;
    justify-content: center;
  }
}
@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../img/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../img/home/02.jpg);
}
.container00.container03 {
  background-image: url(../../img/home/03.jpg);
}
.container00.container04 {
  background-image: url(../../img/home/04.jpg);
}
.container00.container05 {
  background-image: url(../../img/home/05.jpg);
}

.title-padding {
  padding-top: 210px;
  margin-left: 25px;
}

.medium-padding {
  padding-top: 335px;
  margin-left: 25px;
}

.shortTitle {
  padding: 0px;
  font-size: 48px;
  font-weight: 900;
  width: 550px;
  margin-bottom: -25px;
  line-height: 48px;
}

.mediumTitle {
  padding-bottom: 17px;
  font-size: 48px;
  font-weight: 900;
  width: 550px;
  margin-bottom: -25px;
  line-height: 48px;
}

#launchComing {
  font-family: "D-DIN-Regular";
}

.spaceX {
  padding: 13px 50px;
  border: 2px solid white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.spaceX .spaceX-hover {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s;
}
.spaceX:hover .spaceX-hover {
  transform: scaleY(1);
  transform-origin: bottom center;
}
.spaceX .spaceX-text {
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s;
}
.spaceX:hover .spaceX-text {
  color: black;
}

@media (max-width: 750px) {
  .title-padding {
    padding-top: 120px;
  }
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.carousel-indicators button {
  position: relative;
  height: 8px !important;
  width: 8px !important;
  margin: 0 5px !important;
  border-radius: 100%;
  background-color: #fff !important;
  background: #3b3b3b;
}

/*# sourceMappingURL=style.css.map */
