.carousel-indicators{
    button{
    position: relative;
    height: 8px !important;
    width: 8px !important;
    margin: 0 5px !important;
    border-radius: 100%;
    background-color: #fff !important;
    background: #3b3b3b;
    }
}
